<div class="container">
    <div class="row">
        <div id="content" class="col-lg-12">
            <!-- PAGE HEADER-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <!-- BREADCRUMBS -->
                        <ul class="breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="#">Networks</a>
                            </li>
                            <li>
                                {{ action }}
                            </li>
                        </ul>
                        <!-- /BREADCRUMBS -->
                    </div>
                </div>
            </div>
            <!-- /PAGE HEADER -->
            <!--row-->
            <div id="main">
                <div class="row">
                    <div class="col-md-10">
                        <!-- BOX -->
                        <div class="box border primary">
                            <div class="box-title">
                                <h4><i class="fa fa-bars"></i>{{ action }}</h4>
                            </div>
                            <div class="box-body big">
                                <form id="network" name="network" class="form-horizontal">

                                    <div class="form-group">
                                        {{ form.name.label(for='name', class='control-label col-sm-2') }}
                                        <div class="col-sm-10">
                                            {{ form.name(class='form-control') }}
                                            {% for error in form.name.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.driver.label(for='driver', class='control-label col-sm-2') }}
                                        <div class="col-sm-10">
                                            {{ form.driver(class='form-control') }}
                                        </div>
                                    </div>

                                    <div class="form-group" id="option">
                                        <label class="control-label col-sm-2">Driver Options</label>
                                        <div class="col-sm-10">
                                            <button id="addOption" class="btn btn-inverse btn-xs"><i
                                                    class="fa fa-plus-circle"></i> Add Option
                                            </button>
                                        </div>
                                        {% for name, value in form.options %}
                                        {% if loop.index == 1 %}
                                        <div class="row">
                                            <div class="col-sm-4">
                                                {{ name(class='form-control', placeholder='e.g.
                                                com.docker.network.bridge.enable_icc') }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ value(class='form-control', placeholder='e.g. true') }}
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="row">
                                            <div class="col-sm-2" style="display: block;margin-right: 10px"></div>
                                            <div class="col-sm-4">
                                                {{ name(class='form-control', placeholder='e.g.
                                                com.docker.network.bridge.enable_icc') }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ value(class='form-control', placeholder='e.g. true') }}
                                            </div>
                                            <div class="col-sm-1">
                                                <button class="btn btn-danger" name="rmLabel"><i
                                                        class="fa fa-trash-o"></i></button>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        {% if not form.options.data %}
                                        <div class="row">
                                            <div class="col-sm-4">
                                                {{ form.opt_name(class='form-control', placeholder='e.g.
                                                com.docker.network.bridge.enable_icc') }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ form.opt_value(class='form-control', placeholder='e.g. true') }}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="form-group form-inline">
                                        {{ form.subnet.label(for='subnet', class='control-label col-sm-2') }}
                                        <div class="col-sm-4">
                                            {{ form.subnet(class='form-control') }}
                                            {% for error in form.subnet.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                        {{ form.gateway.label(for='gateway', class='control-label col-sm-2') }}
                                        <div class="col-sm-4">
                                            {{ form.gateway(class='form-control') }}
                                            {% for error in form.gateway.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        {{ form.ip_range.label(for='ip_range', class='control-label col-sm-2') }}
                                        <div class="col-sm-4">
                                            {{ form.ip_range(class='form-control') }}
                                            {% for error in form.ip_range.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                        {{ form.exclude_ips.label(for='exclude_ips', class='control-label col-sm-2') }}
                                        <div class="col-sm-4">
                                            {{ form.exclude_ips(class='form-control') }}
                                            {% for error in form.exclude_ips.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group" id="label">
                                        <label class="control-label col-sm-2">Labels</label>
                                        <div class="col-sm-10">
                                            <button id="addLabel" class="btn btn-inverse btn-xs"><i
                                                    class="fa fa-plus-circle"></i> Add Label
                                            </button>
                                        </div>
                                        {% for name, value in form.labels %}
                                        {% if loop.index == 1 %}
                                        <div class="row">
                                            <div class="col-sm-4">
                                                {{ name(class='form-control', placeholder='name') }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ value(class='form-control', placeholder='value') }}
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="row">
                                            <div class="col-sm-2" style="display: block;margin-right: 10px"></div>
                                            <div class="col-sm-4">
                                                {{ name(class='form-control', placeholder='name') }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ value(class='form-control', placeholder='value') }}
                                            </div>
                                            <div class="col-sm-1">
                                                <button class="btn btn-danger" name="rmLabel"><i
                                                        class="fa fa-trash-o"></i></button>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                        {% if not form.labels.data %}
                                        <div class="row">
                                            <div class="col-sm-4">
                                                {{ form.label_name(class='form-control', placeholder='name') }}
                                            </div>
                                            <div class="col-sm-4">
                                                {{ form.label_value(class='form-control', placeholder='value') }}
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <!--<div class="form-group">-->
                                    <!--<div class="row">-->
                                    <!--<div class="col-sm-2" style="display: block;margin-right: 10px"></div>-->
                                    <!--<div class="col-sm-4">-->
                                    <!--{{ form.label_name(class='form-control', placeholder='name') }}-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-4">-->
                                    <!--{{ form.label_value(class='form-control', placeholder='value') }}-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-1">-->
                                    <!--<button class="btn btn-danger" name="rmLabel"><i-->
                                    <!--class="fa fa-trash-o"></i></button>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group form-inline">
                                        {{ form.internal.label(class='control-label col-sm-offset-1', for='internal') }}&nbsp;
                                        {{ form.internal() }}
                                    </div>
                                    <div class="form-group form-inline">
                                        {{ form.attachable.label(class='control-label col-sm-offset-1', for='internal')
                                        }}&nbsp;
                                        {{ form.attachable() }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.access.label(for='access', class='control-label col-sm-2') }}
                                        <div class="col-sm-10">
                                            {{ form.access(class='form-control') }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.groups.label(for='groups', class='control-label col-sm-2') }}
                                        <div class="col-sm-10">
                                            {{ form.groups(class='select-multiple') }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2">
                                            {% if action == 'New' %}
                                            <button class="btn btn-success" onclick="save(event)">提交</button>
                                            {% else %}
                                            <button class="btn btn-success" onclick="update(event)">提交</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /BOX -->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var csrftoken = "{{ csrf_token() }}";
        var id = "{{ network_id }}";

        let addLabel = function (event) {
            event.preventDefault();
            $('#label').after($('<div class="form-group">\n' +
                '                                        <div class="row">\n' +
                '                                            <div class="col-sm-2" style="display: block;margin-right: 10px"></div>\n' +
                '                                            <div class="col-sm-4">\n' +
                '{{ form.label_name(class="form-control", placeholder="name") }}' + '\n' +
                '                                            </div>\n' +
                '                                            <div class="col-sm-4">\n' +
                '{{ form.label_value(class="form-control", placeholder="value") }}' + '\n' +
                '                                            </div>\n' +
                '                                            <div class="col-sm-1">\n' +
                '                                            <button class="btn btn-danger" tabindex="-1" name="rmLabel" onclick="removeLabel(event)"><i\n' +
                '                                            class="fa fa-trash-o"></i></button>\n' +
                '                                            </div>\n' +
                '                                        </div>\n' +
                '                                    </div>'));
        };

        let addOption = function (event) {
            event.preventDefault();
            $('#option').after($('<div class="form-group">\n' +
                '                                        <div class="row">\n' +
                '                                            <div class="col-sm-2" style="display: block;margin-right: 10px"></div>\n' +
                '                                            <div class="col-sm-4">\n' +
                '{{ form.opt_name(class="form-control", placeholder="e.g. com.docker.network.bridge.enable_icc") }}' + '\n' +
                '                                            </div>\n' +
                '                                            <div class="col-sm-4">\n' +
                '{{ form.opt_value(class="form-control", placeholder="e.g. true") }}' + '\n' +
                '                                            </div>\n' +
                '                                            <div class="col-sm-1">\n' +
                '                                            <button class="btn btn-danger" tabindex="-1" name="rmLabel" onclick="removeLabel(event)"><i\n' +
                '                                            class="fa fa-trash-o"></i></button>\n' +
                '                                            </div>\n' +
                '                                        </div>\n' +
                '                                    </div>'));
        };

        $().ready(function () {
            $('#groups').select2({
                allowClear: true,
                formatNoMatches: function () {
                    return '';
                },
                //closeOnSelect: false,
                width: '100%'
            });
            let addLabelBtn = $('#addLabel');
            let addOptionBtn = $('#addOption');
            addLabelBtn.on('click', addLabel);
            addOptionBtn.on('click', addOption);
            if ("{{ action }}" !== 'New') {
                $('input[type=text]').attr('readonly', true);
                $('#driver').attr('disabled', true);
                addLabelBtn.hide();
                addOptionBtn.hide();
                $('button[name="rmLabel"]').hide();
            }
        });

        function removeLabel(event) {
            event.preventDefault();
            $(event.currentTarget).parent().parent().parent().remove();
        }

        function save(event) {
            event.preventDefault();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }
            });
            $.ajax({
                url: '/network/new',
                type: 'post',
                data: $('form').serialize(),
                processData: false,  // 不处理数据
                // contentType: false,
                success: function (result) {
                    if (result === 'ok') {
                        let viewUrl = '/network';
                        dm.showIndexView(viewUrl);
                    } else {
                        dm.loadView(result);
                    }
                },
                error: function () {
                    console.log('error');
                }
            });
        }

        function update(event) {
            event.preventDefault();
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }
            });
            $.ajax({
                url: '/network/update/' + id,
                type: 'post',
                data: $('form').serialize(),
                processData: false,  // 不处理数据
                // contentType: false,
                success: function (result) {
                    if (result === 'ok') {
                        let viewUrl = '/network';
                        dm.showIndexView(viewUrl);
                    } else {
                        dm.loadView(result);
                    }
                },
                error: function () {
                    console.log('error');
                }
            });
        }
    </script>
</div>