<span>镜像：{{ image }}</span><br>
<table id="containerTable" class="table table-bordered">
    <thead>
    <tr>
        <td>序号</td>
        <td>名称</td>
{#        <td>说明</td>#}
        <td>状态</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    {% for container in containers %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ container.name }}</td>
{#            <td>{{ container.desp }}</td>#}
            <td>{{ container.status }}</td>
            <td>
                {% if 'Create' in container.status or 'Exited' in container.status %}
                    <button id="start" onclick="Container.start('{{ container.name }}','{{ image }}')" value="start">
                        启动
                    </button>
                {% else %}
                    <button id="stop" onclick="Container.stop('{{ container.name }}','{{ image }}')" value="stop">停止
                    </button>
                    <button id="restart" onclick="Container.restart('{{ container.name }}','{{ image }}')"
                            value="restart">重启
                    </button>
                {% endif %}
                <button id="delete" onclick="Container.remove('{{ container.name }}','{{ image }}')" value="remove">删除
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>