<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Docker Manager</title>
        <script src="{{ url_for('static', filename='js/image.js') }}" ></script>
        <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    </head>
    <body>
        <div id="content" class="container">
        </div>
        <script type="text/javascript">
            $(function () {
                Image.getList();
            })
        </script>
    </body>
</html>