{% extends "bootstrap/base.html" %}
{% block title %}Docker Manager{% endblock %}
{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/image.js') }}"></script>
    <script src="{{ url_for('static',filename='js/container.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="loadDiv" class="modal fade">
        <div class="modal-dialog modal-sm">
            <img src="{{ url_for('static', filename='img/load.gif') }}"/>
        </div>
    </div>
    <div class="container h4" style="align-content: center"><h2 style="font-family: 'Arial Black'">容器管理系统</h2></div>
    <div id="content" class="container">
        <table id="imageTable" class="table table-bordered">
            <thead>
            <tr>
                <th>序号</th>
                <th>镜像名称</th>
                <th>镜像tag</th>
                <th>说明</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="imageList">
            </tbody>
        </table>
    </div>
    <div id="containerModal" class="modal fade">
        <div id="loadSubDiv" class="modal fade">
            <div class="modal-dialog modal-sm">
                <img src="{{ url_for('static', filename='img/load.gif') }}"/>
            </div>
        </div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="containerList">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            startLoad("loadDiv");
            Image.getList();
        })
    </script>
{% endblock %}

<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Docker Manager</title>-->
<!--<script src="{{ url_for('static', filename='js/image.js') }}" ></script>-->
<!--<script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>-->
<!--</head>-->
<!--<body>-->
<!--<div id="loadDiv" class="modal fade">-->
<!--<div class="modal-dialog modal-sm">-->
<!--<img src="{{ url_for('static', filename='img/load.gif') }}" />-->
<!--</div>-->
<!--</div>-->
<!--<div id="content" class="container">-->
<!--</div>-->
<!--<script type="text/javascript">-->
<!--$(function () {-->
<!--$('#loadDiv').modal('hide');-->
<!--Image.getList();-->
<!--})-->
<!--</script>-->
<!--</body>-->
<!--</html>-->